@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

/*START - BASICS*/
*{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
}

a {
    color: #060A24;
    text-decoration: none;
}

ul {
  list-style: none;
}



/*START - TIPOGRAFIAS*/
.txt-titulo-blanco {
  color: white;
  font-family: 'IBM Plex Sans';
  font-size: 2.6rem;
  letter-spacing: 0;
  font-weight: lighter;
}

.txt-titulo-negro {
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-size: 2.6rem;
  letter-spacing: 0;
  font-weight: lighter;
}

.texto-debajo-iconos{
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 900;
}

.txt-next-celular{
  font-size: 1.4rem;
  letter-spacing: 0;
  line-height: 22px;
}

.footer-text{
  color: #060A24;
  font-family: 'IBM Plex Sans';
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 900;
}
/*END- TIPOGRAFIAS*/

/* START - ESTILOS ESPECIALES DEL HEADER*/
.header a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

.header a:active{
  color:rgba(6,10,36,0.56);
  text-decoration: line-through;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

@media (min-width: 48em) {
  .header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  ul{
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.0rem;
    letter-spacing: 0;
    line-height: 2.8rem;
  }

  li{
    display:inline-block;
  }

  .header .menu-icon {
    display: none;
  }
}
/* END - ESTILOS ESPECIALES DEL HEADER*/


/* START - HEADER COMPLETO CON ADAPTACION A DESKTOP >>>> 48em = 768px */ 
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #0000A3; /*fondo del menu mobile*/
}

.header li a{
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: white;
}

.header img{
  padding: 20px 20px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon - cruz */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu boton */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    color: black;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    background: WHITE;
    
  }
  .header .menu-icon {
    display: none;
  }
}
/* END - HEADER COMPLETO CON ADAPTACION A DESKTOP >>>> 48em = 768px */ 

  
/*START - DISEÑO DE BANNER TEXTO LITTLE BLUE DOT*/
  .banner-principal{
  margin-left: 10%;
  margin-bottom: 50px;
}

h1{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3.6rem;
  letter-spacing: 0;
  line-height: 4.2rem;
}

.world{
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: line-through;
  font-size: 3.6rem;
  line-height: 4.2rem;
}

.banner-principal h2{
  font-size: 1.4rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 2.2rem;
  max-width: 100%;
}

.dot{
  color:blue;
}



@media (min-width: 48em) {

.banner-principal h1{
  font-size: 4.4rem;
}
.world{
  font-size: 4.4rem;
}

.banner-principal h2{
  font-size: 1.4rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 2.2rem;
  max-width: 60%;
}


}

/*FIN - DISEÑO DE BANNER*/

/*START - DISEÑO DE EPISODIOS!!*/
.episodios{
  display: flex;
  transform: skewY(6deg);
  transform-origin: top left;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.section__episodes__iframe{
  padding: 0.5rem;
  position: relative;
  width: 90%;
  height: 232px;
  border: 0;
}

.episodios-background h2{
  transform: skewY(6deg);
  transform-origin: top left;
  margin: 0  0 0 2rem;
}

.episodios-background{
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skewY(-6deg);
  transform-origin: top right;
  width: 100%;
  height: 1300.6px;
  z-index:0;
}


@media (min-width: 48em) {
    
  .episodios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: initial;
    justify-content: center;
    align-items: center;
    margin:20px;
  }

 .episodios-background{
   height: 1042.6px;
  }

  #episodios{
   margin-top: 50px;
  }

  .episodios-background .txt-titulo-blanco{
    margin-left: 100px;
  }

  .section__episodes__iframe{
    margin-top:30px;
  }
}
/*FIN - DISEÑO DE EPISODIOS!!*/

/*START - DISEÑO DE CELULAR Y TEXTO*/
.celular{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 2.4rem 0 2.4rem;
  text-align: left;
  z-index: 10;
  margin-top: -150px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.imagen-del-celular img{
  width: 100%
}



@media (min-width: 48em) {
  
  .episodios{
    display: flex;
    margin: auto;
    transform: skewY(6deg);
    transform-origin: top left;
    width: 1240px;
    z-index: 10;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

   .section__episodes__iframe{
    padding: 0.5rem;
    width: 584px;
    flex: none;
    background-color: transparent;
  } 
   
   .celular{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    padding: 0rem 2.4rem 0 2.4rem;
    position: relative;
    z-index: 10;
    margin-top: -100px;
  }

  .episodios-background .txt-titulo-blanco{
    margin-top: 186px;
  }

  .imagen-del-celular .de-donde-venimos-txt{
    z-index: 5;
  }

  .imagen-del-celular img{
    height: auto;
    width: auto;
  }

  
}
/*FIN - DISEÑO DE CELULAR Y TEXTO*/

  
/*START - DISEÑO DE TODOS LOS BOTONES!!*/
  .button{
    background-color: #00F3BB;
    border: none;
    font-size: 1.2rem;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    padding: 10px; 
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 4.8rem;
    font-family: 'IBM Plex Mono';     
    font-weight: 500;
    margin-top: 50px;
  }
 

  .button a{
    text-decoration:none;
  }

  .button:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    cursor: pointer;
    color: white;
  }
  @media (min-width: 48em) {
    .button{
      font-size: 1.4rem;
      padding-left: 60px;
      padding-right: 60px;
    }
  }
    
/*FIN - DISEÑO DE TODOS LOS BOTONES!!*/

/*START - SECCION ENTREVISTAS - IMAGENES DE MUJERES*/
.imagenes-invitados{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.imagenes-invitados img{
  width: 100%;
  height: auto;
}

@media (min-width: 48em) {
  
  .imagenes-invitados{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: initial;
    justify-content: center;
    align-items: center;
  }

  .invitados-estelares .txt-titulo-negro{
    margin-left: 100px;
  }

  .imagenes-invitados img{
    height: auto;
    width: 100%;
  }
}
 
/*FIN - SECCION ENTREVISTAS - IMAGENES DE MUJERES*/

/*START - ICONOS DE TEMAS*/
.iconos-de-temas{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.iconos-de-temas p{
  padding: 0 4rem 0 4rem;
}

.icon-item{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}


@media (min-width: 48em) {
  .topicos{
    height: 450px;
  }

  .topicos .txt-titulo-negro{
    margin-left: 100px;
  }
  
  .iconos-de-temas{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    margin-top: 50px;
    
  }

.icon-item{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
}
/*FIN - ICONOS DE TEMAS*/

/*START - DISEÑO DE NEWSLETTER*/
.newsletter-suscription{
  position: relative;
  height: 500px;
  overflow: hidden;
  text-align: center;
}

.newsletter-suscription-back{
  position: absolute;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  transform: skewY(-2deg);
  transform-origin: top right;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 518px;
}

.newsletter-suscription h2 {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
}

.button-news {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  
}


@media (min-width: 48em) {
  .newsletter-suscription h2 {
    margin: 0;
    padding-top: 150px;
    position: relative;
    text-align: center;
  }


}
/*FIN - DISEÑO DE NEWSLETTER*/


/*START - FOOTER MOBILE*/
.footer{
  background-color: white;
  display:flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}  

.footer .footer-icons{
  display: flex;
  width: 60%;
  font-size: 1.5rem;
  justify-content: space-around;
}

@media (min-width: 48em) {
.footer{
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.footer-text {
  align-self: left;
  font-size: 1.5rem;
  width: 90%;
}

.footer-icons{
  align-self: right;
  font-size: 1.5rem;
  cursor: pointer;
  width: 10%;
}
}
/*FIN - FOOTER MOBILE*/

